%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  @media #{$mobile-widths} {
    width: 100%;
  }
}

%grid-padding {
  padding-left: 15px;
  padding-right: 15px;
  @media #{$mobile-widths} {
    padding-left: 20px;
    padding-right: 20px;
  }
}