// colors
$primary-color: #0062FF;
$bg-color: #FFFFFF;
$bg-sub-color: #EDEDED;
$decor-color: #DBDBDB;

// breakpoints
$desktop-widths: "(max-width: 1600px)";
$tablet-widths: "(max-width: 1240px)";
$mobile-widths: "(max-width: 768px)";
