.create-page {
  &__title {
    position: relative;
    padding-left: 90px;
    padding-right: 90px;
  }

  &__back {
    position: absolute;
    left: 0;
    bottom: 4px;
  }

  &__prices {
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;

      &-content {
        width: 100%;
        height: auto;
      }

    }
  }
}

@media #{$tablet-widths} {
  .create-page {
    &__title {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__back {
      position: initial;
    }

    &__prices {
      &-image {
        &-content {
        }
      }
    }
  }
}